# Dependencies
node_modules/
gridbrics-frontend/node_modules/
gridbricks-backend/node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
.nyc_output/

# next.js
/.next/
gridbrics-frontend/.next/
/out/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Runtime data
pids/
*.pid
*.seed

# Build output
dist/
build/

# Editor/OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.pem

# Optional npm cache
.npm

# Optional eslint cache
.eslintcache

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts